body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2b2b2b;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

#main-menu, #quiz-container, #leaderboard {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 20px;
    border: solid 4px #00fcec;
    box-shadow: 0 0 20px #00fcec;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

h3 {
    color: red;
    font-weight: bold;
}

#main-menu p {
    margin: 10px 0;
    font-size: 25px;
    color: white;
}

input[type="text"], select {
    width: 60%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #00fcec;
    background-color: transparent;
    color: white;
    font-size: 18px;
    outline: none;
}

input[type="text"]::placeholder {
    color: white;
    opacity: 0.7;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: #00fcec solid 3px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    transition: border-color 0.2s, box-shadow 0.2s;
}

button:hover {
    background-color: #00fcec;
    box-shadow: 0 0 20px #00fcec;
}

#quiz {
    margin-bottom: 20px;
}

#question {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.choice {
    margin: 8px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: #00fcec solid 3px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.choice:hover {
    background-color: #00fcec;
    color: white;
    box-shadow: 0 0 20px #00fcec;
}

#timer {
    font-size: 20px;
    color: #00fcec;
    border: 1px solid #00fcec;
    padding: 5px;
    width: 100%;
    text-align: center;
    margin: 0 auto; /* Center the timer horizontally */
}


.correct {
    background: #28a745 !important; /* Override background color for correct choice */
}

.incorrect {
    background: #dc3545 !important; /* Override background color for incorrect choice */
}

.hide {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    text-align: center;
}

.modal-content li {
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    #main-menu {
        width: 80%;
    }

    #timer {
        width: 100%;
    }
    
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 50%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}


@media screen and (max-width: 480px) {
    #main-menu {
        width: 80%;
    }

    h1 {
        font-size: 36px
    }

    #timer {
        width: 70%;
    }

    #main-menu p {
        font-size: 2 0px;
    }
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 50%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}

@media screen and (min-width: 780px) {
    #main-menu {
        width: 100%;
    }
  #main-menu input {
    width: 80%;
  }
  #timer {
        width: 60%;
    }
  #quiz-container {
    width: 60%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}

@media screen and (max-width: 780px) {
    #main-menu {
        width: 100%;
    }
  #main-menu input {
    width: 80%;
  }
  #timer {
        width: 50%;
    }
  #quiz-container {
    width: 60%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}

@media screen and (min-width: 1080px) {
    #main-menu {
        width: 72%;
    }
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 60%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}

@media screen and (max-width: 1080px) {
    #main-menu {
        width: 72%;
    }
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 60%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}
