body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2b2b2b;
}

#main-menu {
    background: #1a1a1a;
    padding: 10px;
    border-radius: 20px;
    border: solid 4px #00fcec;
    box-shadow: 0 0 20px #00fcec;

    width: 100%;

    text-align: center;

    
}

#quiz-container, #leaderboard {
    background: #1a1a1a;
    padding: 60px;
    border-radius: 20px;
    border: solid 4px #00fcec;
    box-shadow: 0 0 20px #00fcec;

    width: 100%;
    text-align: center;
}

h1 {
    padding: 10px, 0px;
    color: white;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
  margin-bottom: 20px;
}

h3 {
    margin: 0;
    color: red;
    font-weight: bold;
    text-align: center;
}

#main-menu p {
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

#main-menu button, #next-btn, #back-btn {

    margin: 13px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: #00fcec solid 3px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;

    transition: border-color 0.2s, box-shadow 0.2s;
}

#main-menu button:hover, #next-btn:hover, #back-btn:hover {
    color: white;
    background-color: #00fcec;
    box-shadow: 0 0 20px #00fcec;
    transition: border-color 0.2s, box-shadow 0.2s;
}

#player-name {
    width: 60%;
    max-width: 400px;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #00fcec;
  background-color: transparent;
  color: white;

    font-size: 18px;
    height: 30px;
    transition: border-color 0.3s, box-shadow 0,3s;
    outline: none;
}

input {
  margin: 0 10px;
}

input::placeholder {
  color: white;
  opacity: 0.8;
}

#player-name:focus {
    transition: 0.3s;
    box-shadow: 0 0 20px #00fcec;
}

#category-select {
    width: 40%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #00fcec;
  background-color: transparent;
  color: white;

    font-size: 18px;
    transition: border-color 0.3s, box-shadow 0,3s;
    outline: none;
}

#category-select:focus {
    transition: 0.3s;
    box-shadow: 0 0 20px #00fcec;
}

#question {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.choice {
    margin: 8px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: #00fcec solid 3px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;

    transition: border-color 0.2s, box-shadow 0.2s;

}

/*.choice:hover {
    color: white;
    background-color: #00fcec;
    box-shadow: 0 0 20px #00fcec;
    transition: border-color 0.2s, box-shadow 0.2s;
}*/

.correct {
    background: #28a745;
}

.incorrect {
    background: #dc3545;
}

.hide {
    display: none;
}

#leaderboard {
    color: white;
    padding: 10px;
}

#leaderboard h2 {
    font-size: 50px;
}

#leaderboard-list {
    font-size: 26px;
}

/* How to Play Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
}

.modal-content h2, p {
  text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (min-width: 480px) {
    #main-menu {
        width: 80%;
    }
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 50%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}


@media screen and (max-width: 480px) {
    #main-menu {
        width: 80%;
    }
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 50%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}

@media screen and (min-width: 780px) {
    #main-menu {
        width: 100%;
    }
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 60%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}

@media screen and (max-width: 780px) {
    #main-menu {
        width: 100%;
    }
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 60%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}

@media screen and (min-width: 1080px) {
    #main-menu {
        width: 72%;
    }
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 60%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}

@media screen and (max-width: 1080px) {
    #main-menu {
        width: 72%;
    }
  #main-menu input {
    width: 80%;
  }
  #quiz-container {
    width: 60%;
    height: auto;
  }

     #leaderboard {
        width: 80%;

    }

  #category-select {
    width: 70%
  }
}